@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik:wght@300&display=swap');

body {
    max-width: 500px;
    margin: 0 auto 0 auto;
}

h1, h2 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    text-shadow: 3px 3px rgb(250, 222, 180);
}

h1 {
    font-size: 1.8em;
    padding: 0 10px;
}

h3 {
    background-color: rgb(226, 231, 231);
}

p, li {
    font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    background-color: rgb(253, 190, 94);
    border-radius: 5px;
    box-shadow: 6px 6px rgb(226, 231, 231);
}

#kevin-profile-pic {
    max-height: 120px;
    max-width: 90%;
    grid-column: 1/2;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
}

hr {
    margin: 0 15px;
}

ul {
    margin-left: 10px;
}

li {
    margin-bottom: 5px;
}

footer {
    background-color: rgb(253, 190, 94);
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 6px 6px rgb(226, 231, 231);
}

#update {
    color: rgb(82, 82, 82);
}

