@media only screen and (min-width: 45em) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.4em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}