@media only screen and (min-width: 45em) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.4em;
    }

    main {
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        border: 10px black;
    }


}