@media only screen and (min-width: 56.25em) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.4em;
    }

    main {
        max-width: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #rolex-section {
        grid-column: 1/2;
    }

    #tesla-section {
        grid-column: 2/3;
    }

    #cinecol-section {
        grid-column: 3/4;
    }
}