@media only screen and (min-width: 32.5em) {
    
    h1 {
        font-size: 2.4em;
    }
    
    h2 {
        font-size: 1.8em;
    }

    main {
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section {
        grid-gap: 10px;
        border: 10px black;
    }
}