@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik:wght@300&display=swap');

body {
    margin: 0 auto 0 auto;
}

h1, h2, h3 {
    font-family: 'Berkshire Swash', cursive;
    margin: 0px;
    color: black;
    text-shadow: 3px 3px rgb(250, 222, 180);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    background-color: rgb(252, 230, 193);
    text-align: center;
    padding: 10px 0;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding-left: 10px;
    height: 27px;
}

a {
    font-family: 'Rubik', sans-serif;
    padding: 0 10px;
    height: 20px;
}

p {
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    height: 190px;
}

img {
    max-width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-color: rgb(253, 190, 94);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

main {
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}

section {
    background-color: rgb(253, 247, 237);
    display: grid;
    grid-template-rows: 50px auto auto auto auto;
    max-width: 100%;
}

#rolex-section {
    background-color: rgb(253, 247, 237);
}

footer {
    background-color: rgb(253, 190, 94);
    padding: 5px 0px;
    text-align: center;
}