@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik:wght@300&display=swap');

body {
    margin: 0 auto 0 auto;
}

h1, h2, h3 {
    font-family: 'Berkshire Swash', cursive;
    margin: 5px;
    color: black;
    text-shadow: 3px 3px rgb(250, 222, 180);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

a {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
}

img {
    width: 95%;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-color: rgb(253, 190, 94);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

main {
    margin: 0 auto;
    max-width: 300px;
    display: inline-block;
    grid-gap: 10px;
}

section {
    background-color: rgb(253, 247, 237);
    grid-gap: 10px;
    border: 10px black;
    display: grid;
    grid-template-rows: 50px auto auto auto auto;
}

#rolex-section {
    background-color: rgb(253, 247, 237);
}

footer {
    background-color: rgb(253, 190, 94);
    padding: 5px 0px;
    text-align: center;
}