header {
    text-align: center;
    font-size: 3vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

picture {
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 0 auto;
}

img {
    background: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}