@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Poller+One&display=swap');

body {
    margin: 0 auto 0 auto;
    max-width: 800px;
}

main {
    padding: 20px;
    max-width: 800px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.menu-button {
    display: flex;
    justify-content: center;
}

li.menu-item {
    display: none;
}

nav > ul > li:hover {
    background-color: khaki;
}

li.open {
    display: block;
}

header {
    background-color: khaki;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 15px 15px 0 0;
}

footer {
    background-color: khaki;
    border-radius: 0 0 15px 15px;
}

h1, h2, h3 {
    color: rgb(107, 68, 8);
    font-family: 'Poller One', cursive;
    text-align: center;
    margin: auto 0;
    text-shadow: 3px 3px rgb(196, 174, 140);
}

h2 {
    padding: 15px 0;
}

p, li {
    font-family: 'Gilda Display', serif;
}

p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    margin-left: 30px;
    padding-bottom: 5px;
    list-style: none;
}

.card {
    background-color: rgb(250, 250, 158);
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
}

#kevin-pic {
    padding: 10px;
    width: 150px;
    border-radius: 20px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode > h2 {
    color: beige;
    text-shadow: 3px 3px rgb(107, 107, 107);
}

.dark-mode > .card > h3 {
    color: beige;
    text-shadow: 3px 3px rgb(107, 107, 107);
}

.dark-mode a {
    color: rgb(252, 223, 162);
}

.dark-mode > .card {
    background-color: rgb(48, 48, 48);
}